<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div>
			<form action="/import">
				<input type="text" name="Initial" value="">
				<input type="text" name="Final" value="">
				<input type="submit" value="Go to Google" />
			</form>
		</div>
	</main>
	
	<script src='js/scripts.js'></script>

</body>
</html>