

.header {
    text-align: center;
    padding: 2vh;
    padding-top: 3vh;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 26vh;
}


.margin-form {
    font-weight: 600;
    padding: 5vh;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
}

.margin-form2 {
    font-weight: 600;
    padding: 5vh;
}

.button-form {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 11vh;
    font-size: 18px;
    background-color: #4582B6;
    border: 0;
    border-radius: 0;
}

.middle-button-form{
    bottom: 0;
    position: fixed;
    width: 50%;
    height: 11vh;
    font-size: 18px;
    background-color: #4582B6;
    border: 0;
    border-radius: 0;
}

.img-grid {
    width: 100%;
    height: auto;
}

.secondary-color{
    background-color: #91BBDF;
}

.square {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    max-height: 4vh;
    margin: 0.25em;
}

.grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 1rem;
}

.space {
    margin-bottom: 2vh;
}

.photo-form {
    max-height: 80vh;
    overflow: scroll;
}

.final-photo {
    max-width: 80%;
    max-height: 70vh;
    width: auto;
    height: auto;
}

.final{
    display: flex;
    justify-content:center;
    align-content: center;
    margin-top: 10vh;
}

.title{
    padding: 1vh;
    padding-top: 6vh;
    text-align: center;
}

.subtitle {
    margin-left: 6vh;
    margin-top: 4vh;
    
    font-size: 16px;
    text-align: left;
    font-weight: 600;
}

.badge{
    padding: 3vh;
    padding-bottom: 0;
    margin: 0 auto;
    width: -webkit-fill-available;
}

.badge div {
    font-size: 12px;   
    margin-bottom: 0;
}

@media screen and (max-width: 576px) { 

    .header img {
        width: 26vh;
    }

}
