.header {
    text-align: center;
    padding: 2vh;
    padding-top: 3vh;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 26vh;
}

@media screen and (max-width: 576px) { 

    .header img {
        width: 26vh;
    }

}
